$color-white: #fff;
$color-black: #000;

// Media query breakpoints

$brk-point-768: "(min-width: 768px)";

$brk-point-1024: "(min-width: 1024px)";

// Font stacks

$stack-righteous: "Righteous", cursive;

// Asset paths

$path-svg: "../svg";
